In [2]:
import pandas as pd

df = pd.read_csv("fastfood.csv")
df

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2.0,0.0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17.0,1.5,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27.0,3.0,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10.0,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12.0,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,Taco Bell,Spicy Triple Double Crunchwrap,780,340,38,10.0,0.5,50,1850,87,9.0,8,23.0,20.0,10.0,25.0,Other
511,Taco Bell,Express Taco Salad w/ Chips,580,260,29,9.0,1.0,60,1270,59,8.0,7,23.0,NaN,NaN,NaN,Other
512,Taco Bell,Fiesta Taco Salad-Beef,780,380,42,10.0,1.0,60,1340,74,11.0,7,26.0,NaN,NaN,NaN,Other
513,Taco Bell,Fiesta Taco Salad-Chicken,720,320,35,7.0,0.0,70,1260,70,8.0,8,32.0,NaN,NaN,NaN,Other
514,Taco Bell,Fiesta Taco Salad-Steak,720,320,36,8.0,1.0,55,1340,70,8.0,8,28.0,NaN,NaN,NaN,Other

In [4]:
df.shape

(515, 17)

### Necha xil fast food tayyorlaydigan restaranlar bor va xar biridan nechtadan mahsulot jadvalga kiritilgam?

In [3]:
df["restaurant"].value_counts()

restaurant
Taco Bell      115
Subway          96
Burger King     70
Mcdonalds       57
Arbys           55
Sonic           53
Dairy Queen     42
Chick Fil-A     27
Name: count, dtype: int64

In [5]:
df["calories"].describe()

count     515.000000
mean      530.912621
std       282.436147
min        20.000000
25%       330.000000
50%       490.000000
75%       690.000000
max      2430.000000
Name: calories, dtype: float64

## Find the average calories for items from each restaurant.

In [8]:

df.groupby(by = ['restaurant'])['calories'].mean()

restaurant
Arbys          532.727273
Burger King    608.571429
Chick Fil-A    384.444444
Dairy Queen    520.238095
Mcdonalds      640.350877
Sonic          631.698113
Subway         503.020833
Taco Bell      443.652174
Name: calories, dtype: float64

## Identify the item with the highest protein content.

In [13]:
df['protein'] = pd.to_numeric(df['protein'], errors='coerce')
highest_protein_item = df.loc[df['protein'].idxmax()]
print(highest_protein_item[['restaurant', 'item', 'protein']])

restaurant                                     Mcdonalds
item          20 piece Buttermilk Crispy Chicken Tenders
protein                                            186.0
Name: 39, dtype: object

## Determine the total number of unique items in the dataset.

In [29]:
import numpy as np
array = df['item'].unique()
ls = list(array)

count = 0

for i in ls:
    count += 1
print(f"Unique items: {count}")

Unique items: 505

## Nutritional Comparison:

### Compare the average total fat content between items from different restaurants.

In [30]:
df.groupby(by = ['restaurant'])['total_fat'].mean()

restaurant
Arbys          26.981818
Burger King    36.814286
Chick Fil-A    16.148148
Dairy Queen    28.857143
Mcdonalds      31.807018
Sonic          37.641509
Subway         18.479167
Taco Bell      20.895652
Name: total_fat, dtype: float64

### Find the item with the highest amount of sodium and determine its restaurant.

In [31]:
df['sodium'] = pd.to_numeric(df['sodium'], errors='coerce')
highest_sodium_item = df.loc[df['sodium'].idxmax()]

print(highest_sodium_item[['restaurant', 'item', 'sodium']])

restaurant                                     Mcdonalds
item          20 piece Buttermilk Crispy Chicken Tenders
sodium                                              6080
Name: 39, dtype: object